# Directory of snakemake utils
.snakemake/

# PDFs representing the DAG and Rulegraph of the pipeline
*.pdf

# Directory for FASTQC results
FASTQC/

# Results directory
results/

# Directory created by sortmerna
readb/

# Index used by sortmerna
idx/
*.idx

# Reports from sortmerna
workflow/report

# Logs directory
logs/

# Any fastq file
*.fastq

# Any images
*.png

# Any .tar.gz file
*.tar.gz